---
layout: default
pagetitle:  "Onze mensen bij Vinci"
title: "Onze mensen"
---

<main class="main main-persons">

	{% include main-header.html %}

	<section class="container main-container">

		<div class="row">
			<article class="col-sm-10 col-sm-offset-1 main-persons-id">
				<div class="main-persons-photo">
					<img class="img-responsive" src="{{ site.baseurl }}/img/maarten-kusters.jpg" alt="Maarten Kusters van Vinci" />

					<!--<ul class="main-persons-socmed">
						<li><a href="#"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a></li>
					</ul>-->
				</div>
				<div class="main-persons-text">
					<h2 class="main-persons-name">
						Maarten Kusters
					</h2>

					<a href="#" class="main-persons-phone-btn"><i class="fa fa-phone"></i> 06-12345678</a>

					<ul>
						<li>Portaal, Parteon, Zayaz, Woonstad R’dam: Interim-manager vastgoed</li>
						<li>AM / Wilmavastgoed: assetmanager</li>
						<li>BPF Bouwinvest; manager product- en marktontwikkeling</li>
						<li>Specialisatie: management van vastgoed, samenwerkingsvormen, business development</li>
					</ul>

				</div>
			</article>

			<article class="col-sm-12">
				<h2>Posts Persons</h2>
				{% for persons in site.posts %}
					<ul>
						<li>
							<h3>{{persons.title}}</h3>

						</li>
					</ul>
				{% endfor %}
			</article>
		</div>

	</section>

</main>
