---
layout: default
class: main-persons
pagetitle:  "Onze mensen bij Vinci"
title: "Onze mensen"
subtitle: ""
meta: ""
priority: 1.0
---


<section class="container main-container">
	<div class="row">

		{% for persons in site.data.persons %}
			<article class="col-xs-12 main-persons-id">
				<div class="main-persons-photo">
					<img class="img-responsive" src="{{ site.baseurl }}{{ persons.photo }}" alt="{{persons.name}} van Vinci" />
				</div>
				<div class="main-persons-title">
					<h2 class="main-persons-name">{{persons.name}}</h2>
					<div class="main-persons-socmed">
						{% if persons.phone %}
							<a href="tel:{{ persons.phone }}" class="popover-btn">
								<i class="fa fa-phone"></i><span class="popover above">{{ persons.phone }}</span>
							</a>
						{% endif %}
						{% if persons.mailto %}
							<a href="mailto:{{ persons.mailto }}"><i class="fa fa-envelope"></i></a>
						{% endif %}
						{% if persons.linkedin %}
							<a href="{{ persons.linkedin }}"><i class="fa fa-linkedin"></i></a>
						{% endif %}
					</div>
				</div>
				<div class="main-persons-text">
					{% if persons.text %}
						<ul class="main-persons-list">
							{% for text in persons.text %}
								<li>
									{{text.item}}
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			</article>
		{% endfor %}
	</div>

</section>
