$white: #fff;
$bright-yellow: #f7d83d;
$yellow: #f18d2b;
$orange: #db6915;
$red: #d23d02;
$red-purple: #962250;
$light-purple: #6d1875;
$purple: #581d70;
$light-blue: #dde2e9;
$grey-blue: #5c6472;

$text-color: $grey-blue;
$title-color: #555;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.
$btn-default-color:						darken($grey-blue, 10) !default;
$btn-default-bg:              $grey-blue !default;
$btn-default-border:          $grey-blue !default;
$btn-default-hover:						$white !default;

$btn-orange-color:						$orange !default;
$btn-orange-bg:               $yellow !default;
$btn-orange-border:           $btn-orange-bg !default;
$btn-orange-hover:						$white !default;

$btn-purple-color:            $red-purple !default;
$btn-purple-bg:               $purple !default;
$btn-purple-border:           $btn-purple-bg !default;
$btn-purple-hover:						$white !default;
