$white: #fff;
$dark-white: #eee;
$light-yellow: #fab36d;
$yellow: #f18d2b;
$dark-yellow: #f1842b;
$orange: #db6915; //#e36e18;
$red: #d23d02;
$purple: #581d70;
$light-blue: #dde2e9;
$dark-blue: #495f82;
$grey-blue: #5c6472;
$dark-grey: #555;

$text-color: $grey-blue;
$title-color: $dark-grey;
