$white: #fff;
$dark-white: #eee;
$light-yellow: #fab36d;
$yellow: #f18d2b;
$dark-yellow: #f1842b;
$orange: #db6915; //#e36e18;
$red: #d23d02;
$red-purple: #962250;
$light-purple: #6d1875;
$purple: #581d70;
$light-blue: #dde2e9;
$dark-blue: #495f82;
$grey-blue: #5c6472;
$dark-grey: #555;

$text-color: $grey-blue;
$title-color: $dark-grey;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.
$btn-yellow-color:						$yellow !default;
$btn-yellow-bg:               $white !default;
$btn-yellow-border:           $yellow !default;

$btn-red-color:            $white !default;
$btn-red-bg:               $red !default;
$btn-red-border:           $red !default;
