<footer class="container-fluid menneske-footer">
	<div class="row menneske-footer-features">
		<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="menneske-footer-logo"></div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-4">
			<div class="menneske-footer-socmed">
				<a href="https://www.facebook.com/menneske.nl/" class="menneske-footer-socmed-btn" target="_blank" rel="nofollow">
					<i class="fa fa-facebook"></i>
				</a>
				<a href="https://twitter.com/evelinesissing?lang=nl" class="menneske-footer-socmed-btn" target="_blank" rel="nofollow">
					<i class="fa fa-twitter"></i>
				</a>
				<a href="https://nl.linkedin.com/in/evelinesissing/nl" class="menneske-footer-socmed-btn" target="_blank" rel="nofollow">
					<i class="fa fa-linkedin"></i>
				</a>
			</div>
		</div>
	</div><!-- row -->
	<div class="row">
		<div class="col-sm-12 menneske-footer-copyright">
			<i class="fa fa-copyright"></i> 2016 MENNESKE | DESIGN BY
			<a href="http://www.blockshot.org" rel="nofollow" target="_blank">BLOCKSHOT</a>.
		</div>
	</div><!-- row -->
</footer><!-- #footer -->
