<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/img/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/img/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/img/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/img/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/img/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/img/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/img/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/img/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/img/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/img/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/icons/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/img/icons/manifest.json">
<meta name="msapplication-TileColor" content="#f18d2b">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/img/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#f18d2b">

<meta name="description" content="Lees meer over Vinci Stichting Huisvesting Middengroepen. Vinci brengt de woningmarkt in beweging.">
<meta name="robots" content="noodp">
<meta name="keywords" content="vinci, woning, stichting, fonds, huisvesting, middengroepen, woningmarkt">
<link rel="canonical" href="http://www.vinci.fund/">

<meta property="og:locale" content="nl_NL">
<meta property="og:type" content="website">
<meta property="og:title" content="Vinci Stichting Huisvesting Middengroepen">
<meta property="og:description" content="Lees meer over Vinci Stichting Huisvesting Middengroepen. Vinci brengt de woningmarkt in beweging.">
<meta property="og:url" content="http://www.vinci.fund/">
<meta property="og:site_name" content="Vinci">
<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="Lees meer over Vinci Stichting Huisvesting Middengroepen. Vinci brengt de woningmarkt in beweging.">
<meta name="twitter:title" content="Vinci">
<meta name="twitter:site" content="@vinci">
<meta name="twitter:creator" content="@blockshot">
