<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>-->

<script src="{{ site.baseurl }}/js/vendors/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/vendors/bootstrap.min.js"></script>
<!--<script src="{{ site.baseurl }}/js/vendors/tweenmax.min.js"></script>-->

<script type="text/javascript" src="{{ site.baseurl }}/js/vendors/tipuesearch/tipuesearch_set.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/vendors/tipuesearch/tipuesearch_content.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/vendors/tipuesearch/tipuesearch.js"></script>
<!--<script src="{{ site.baseurl }}/js/scripts.js"></script>-->

{% if page.url == '/contact/' %}
	{% include gmap.js.html %}
{% endif %}

{% if page.url == '/zoekresultaat/' %}
	<script type="text/javascript">
		$(document).ready(function() {
			 $('#tipue_search_input').tipuesearch();
		});
	</script>
{% endif %}
