<nav id="mainNav" class="navbar">
	<div class="navbar-container">
    <div class="navbar-header">
			<a class="navbar-brand home" href="{{ site.baseurl }}/" data-animate-hover="bounce">
        Vinci <span class="sr-only">ga naar homepage</span>
      </a>
      <div class="navbar-buttons">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-align-justify"></i>
        </button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
          <span class="sr-only">Toggle search</span>
          <i class="fa fa-search"></i>
        </button>
      </div>
		</div>

		<div class="navbar-collapse collapse" id="navigation">
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a class="{% if page.url == '/' %}is-active{% endif %}" href="{{ site.baseurl }}/">Home</a>
				</li>
				<li>
					<a class="{% if page.url == '/stichting-huisvesting-middengroepen/' %}is-active{% endif %}" href="{{ site.baseurl }}/stichting-huisvesting-middengroepen/">Stichting huisvesting middengroepen</a>
				</li>
				<li>
					<a class="{% if page.url == '/woningfonds/' %}is-active{% endif %}" href="{{ site.baseurl }}/woningfonds/">Woningfonds</a>
				</li>
				<li>
					<a class="{% if page.url == '/koopgarantfonds/' %}is-active{% endif %}" href="{{ site.baseurl }}/koopgarantfonds/">Koopgarantfonds</a>
				</li>
				<li>
					<a class="{% if page.url == '/onze-mensen/' %}is-active{% endif %}" href="{{ site.baseurl }}/onze-mensen/">Onze mensen</a>
				</li>
				<li>
					<a class="{% if page.url == '/contact/' %}is-active{% endif %}" href="{{ site.baseurl }}/contact/">Contact</a>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->

		<div class="navbar-search clearfix" id="search">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="zoeken">
					<div class="navbar-search-icon">
						<i class="fa fa-search" aria-hidden="true"></i>
					</div>
        </div>
      </form>
  	</div>

	</div><!-- /.container -->
</nav>
