<nav id="mainNav" class="navbar">
	<div class="navbar-container">
    <div class="navbar-header">
			<a class="navbar-brand home" href="{{ site.baseurl }}/" data-animate-hover="bounce">
        Vinci <span class="sr-only">ga naar homepage</span>
      </a>
      <div class="navbar-buttons">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Menu uitklappen</span>
          <i class="fa fa-bars fa-2x"></i>
        </button>

				<a class="navbar-search" href="" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="sr-only">Zoeken</span>
					<i class="fa fa-search"></i>
				</a>

				<div class="navbar-dropdown-search" aria-labelledby="dLabel">
					<form class="navbar-container form-inline" action="{{ site.baseurl }}/zoekresultaat/">
						<div class="form-group">
					    <label class="sr-only" for="">Zoeken</label>
					    <input type="text" name="q" id="tipue_search_input" class="form-control" autocomplete="off" placeholder="Zoeken" required>
							<button type="submit" class="btn search"><i class="fa fa-search"></i></button>
					  </div>
					</form>
				</div>

				<a class="navbar-gmap" href="https://goo.gl/maps/gPWiVqquLzA2" target="_blank">
          <span class="sr-only">Vinci in Google Maps</span>
          <i class="fa fa-map-marker"></i>
        </a>

				<a class="navbar-mail" href="mailto:info@vinci.fund">
          <span class="sr-only">Vinci mailen</span>
          <i class="fa fa-envelope"></i>
        </a>

				<a class="navbar-phone" href="tel:+31611392394">
          <span class="sr-only">Vinci bellen</span>
          <i class="fa fa-phone"></i>
        </a>
      </div>
		</div>

		<div class="navbar-collapse collapse" id="navigation">
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a class="{% if page.url == '/' %}is-active{% endif %}" href="{{ site.baseurl }}/">Home</a>
				</li>
				<li>
					<a class="{% if page.url == '/stichting-huisvesting-middengroepen/' %}is-active{% endif %}" href="{{ site.baseurl }}/stichting-huisvesting-middengroepen/">Stichting huisvesting middengroepen</a>
				</li>
				<li>
					<a class="{% if page.url == '/woningfonds/' %}is-active{% endif %}" href="{{ site.baseurl }}/woningfonds/">Woningfonds</a>
				</li>
				<li>
					<a class="{% if page.url == '/koopgarantfonds/' %}is-active{% endif %}" href="{{ site.baseurl }}/koopgarantfonds/">Koopgarantfonds</a>
				</li>
				<li>
					<a class="{% if page.url == '/onze-mensen/' %}is-active{% endif %}" href="{{ site.baseurl }}/onze-mensen/">Onze mensen</a>
				</li>
				<li>
					<a class="{% if page.url == '/contact/' %}is-active{% endif %}" href="{{ site.baseurl }}/contact/">Contact</a>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->

	</div><!-- /.container -->
</nav>
