/* Banner */
.menneske-main-banner {
  background-color: #58205a;
  background-image: url("../img/menneske-wave-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 30px;
  margin: 0;
  border-bottom: 6px solid #58205a;
}
/* Footer */

.fusion-footer-widget-area {
  background-color: #58205a;
  border-top: 0 solid transparent;
}
.fusion-footer-copyright-area {
  background-color: #58205a;
  border-top: 0px solid transparent;
}
