.breadcrumbs {
	display: none;

	@media (min-width:$screen-sm-min) {
		display: block;
		color: rgba(255,255,255,.5);
		font-size: 14px;
		font-weight: 400;
		margin: 0;

		a {
			color: $white;
			text-decoration: none;

			&:hover {
				color: $red;
				//text-decoration: underline;
			}
		}
	}
}
