.search-bar {
	position: relative;
	.form-group {
		position: relative;
		width: 100%;
		margin: 12px 0;
		padding: 0;
		@include clearfix();
	}

	.form-control {
		width: 100%;
		height: 42px;
		padding: 10px 15px 8px;
		background-color: lighten($orange, 4);
		border: 0px solid transparent;
		border-radius: 0;
		color: $white;
		font-size: 18px;
		font-weight: 400;

		&:focus, &:active {
			background-color: $orange;
			text-decoration: none;
		}
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: rgba($white, .5);
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: rgba($white, .5);
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: rgba($white, .5);
	}
	:-moz-placeholder { /* Firefox 18- */
		color: rgba($white, .5);
	}

	.btn {
		position: absolute;
		top: 0;
		right: 0;
	}

	@media (min-width:$screen-md-min) {
		text-align: center;

		.form-group {
			width: 70%;
			margin: 12px auto;
			@include clearfix();
		}
	}
}

.search-bar--grey {
	.form-control {
		background-color: rgba($grey-blue, .12);
		color: $title-color;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: rgba($grey-blue, .8);
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: rgba($grey-blue, .8);
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: rgba($grey-blue, .8);
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: rgba($grey-blue, .8);
		}
		&:focus, &:active {
			background-color: rgba($grey-blue, .25);
			text-decoration: none;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: rgba($grey-blue, .3);
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: rgba($grey-blue, .3);
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: rgba($grey-blue, .3);
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: rgba($grey-blue, .3);
			}
		}
	}
	.btn.search {
		color: rgba($grey-blue, .8);
	}
}
