.search-list {
	padding: 0;

	.search-list__item {
		margin-bottom: 20px;
	}
}

.search-list__title {
	color: $title-color;
	&:hover {
		color: $red;
	}
}

.search-list__count {
	margin-top: 8px;
	color: $title-color;
	font-size: .9em;
	font-style: italic;
}

.search-list__warning {
	margin-top: 8px;
	font-size: .9em;
	font-style: italic;
}
