.arrow-down {
	position: relative;
	display: block;
	width: 65px;
	height: 50px;
	background-image: url("../img/vinci-icons.png");
	background-position: 0px -225px;
	background-repeat: no-repeat;
	background-size: 250px 271px;
	margin: 45px auto 45px 40px;
}
