.footer {
	color: $white;
	background-color: $red-purple;
	@include gradient-horizontal-three-colors($light-purple, $red-purple, 40%, $red);

	.footer-copyright {
		font-weight: 400;
		margin: 15px 0;

		a {
			color: $yellow;
		}
	}

	&.yellow {
		background-color: $yellow;
		@include gradient-horizontal-three-colors($orange, $yellow, 7%, $bright-yellow);

		a {
			color: $orange;

			&:hover {
				color: $red;
			}
		}
	}
}
