.header {
	position: relative;
	background-image: url("../img/vinci-header-bg.jpg");
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: cover;

	> .header-container {
		display: block;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		@include clearfix();

		.header-container-logo-stichting,
		.header-container-logo-fonds {
			position: relative;
			display: block;
			float: left;
			width: 50%;
			min-height: 1px;

			.header-logo {
				float: left;
				width: 250px;
				height: 80px;
				margin: 20px 0 30px;
			}
			.header-logo-fonds {
				float: right;
				margin-right: 60px;
			}
			@media (max-width:579px) {
				width: 100%;
				@include clearfix;

				.header-logo {
					float: left;
					width: 200px;
					height: 64px;
					margin: 20px 0 0 40px;
				}
				.header-logo-fonds {
					float: left;
					margin: 0 0 20px 40px;
				}

			}
			@media (min-width:$screen-md-min) {
				.header-logo {
					float: left;
					width: 300px;
					height: 96px;
					margin: 30px 0 40px;
				}
				.header-logo-fonds {
					float: right;
					margin-right: 60px;
				}
			}
		}
	}

	.header-border {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 5px;
		@include gradient-horizontal-three-colors($light-purple, $red-purple, 40%, $red);
		margin: 0;;
		@include opacity(.65);
	}

	&.yellow .header-border {
		@include gradient-horizontal-three-colors($orange, $yellow, 7%, $bright-yellow);
	}
	&.header-homepage {
		position: relative;
		height: 350px;
		color: $yellow;
		background-image: url("../img/vinci-bg.jpg");
		background-position: center bottom;



		.header-homepage-logo-stichting,
		.header-homepage-logo-fonds {
			position: relative;
			display: block;
			float: left;
			width: 300px;
			height: 96px;
			margin: 30px 10px;
		}
		.header-homepage-logo-fonds {
			position: relative;
			display: block;
			float: right;
		}

		h1.header-homepage-title {
			position: relative;
			display: block;
			margin-top: 80px;
			color: $orange;
			font-size: 28px;
			font-weight: 500;
			text-shadow: 0 0 36px rgba($white, .9);
		}
	}
	@media (min-width:$screen-sm-min) {
		&.header-homepage {
			height: 460px;

			h1.header-homepage-title {
				font-size: 42px;
			}
			.header-homepage-logo-stichting,
			.header-homepage-logo-fonds {
				width: 344px;
				height: 110px;
				margin: 40px 10px;
			}
			.header-homepage-logo-fonds {
				margin-right: 50px;
			}
		}
	}
	@media (min-width:$screen-lg-min) {
		&.header-homepage {
			height: 460px;

			h1.header-homepage-title {
				font-size: 42px;
			}
			.header-homepage-logo-stichting,
			.header-homepage-logo-fonds {
				width: 375px;
				height: 120px;
				margin: 40px 0;
			}
			.header-homepage-logo-fonds {
				width: 375px;
				height: 120px;
				margin-right: 30px;
			}
		}
	}
	@media (max-width:579px) {
		&.header-homepage {
			.col-xs-6 {
				width: 100%;
				@include clearfix();
			}
			.header-homepage-logo-stichting,
			.header-homepage-logo-fonds {
				float: left;
				margin: 20px 0 0 40px;
			}
		}
	}
}
