.header {
	position: relative;
	background-image: url("../img/vinci-header-bg.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;

	> .header-container {
		display: block;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		@include clearfix();

		.header-container-logo-stichting,
		.header-container-logo-fonds {
			position: relative;
			display: block;
			float: left;
			width: 50%;
			min-height: 1px;

			.header-logo {
				float: left;
				width: 344px;
				height: 110px;
				margin: 40px 0 40px;
			}
			.header-logo-fonds {
				float: right;
				margin-right: 60px;
			}
		}
	}

	.header-border {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 5px;
		@include gradient-horizontal-three-colors($light-purple, $red-purple, 40%, $red);
		margin: 0;;
		@include opacity(.65);
	}

	&.yellow .header-border {
		@include gradient-horizontal-three-colors($orange, $yellow, 7%, $bright-yellow);
	}
	&.header-homepage {
		position: relative;
		height: 400px;
		color: $yellow;
		background-image: url("../img/vinci-bg.jpg");
		background-position: center bottom;

		.header-homepage-logo-stichting,
		.header-homepage-logo-fonds {
			position: relative;
			display: block;
			float: left;
			width: 344px;
			height: 110px;
			margin: 30px 10px;
		}
		.header-homepage-logo-fonds {
			position: relative;
			display: block;
			float: right;
		}

		h1.header-homepage-title {
			position: relative;
			display: block;
			color: $yellow;
			font-size: 28px;
			font-weight: 500;
			text-shadow: 0 0 6px rgba($white, .4);
		}
	}
	@media (min-width:$screen-sm-min) {
		&.header-homepage {
			height: 500px;

			h1.header-homepage-title {
				font-size: 32px;
			}
			.header-homepage-logo-stichting,
			.header-homepage-logo-fonds {
				width: 344px;
				height: 110px;
				margin: 40px 10px;
			}
			.header-homepage-logo-fonds {
				width: 344px;
				height: 110px;
			}
		}
	}
}
