.header {
	background-image: url("../img/vinci-header-bg.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;

	> .header-container {
		display: block;
		width: $container-large-desktop;
		margin: 0 auto;
		@include clearfix();

		.header-container-logo,
		.header-container-sublogos {
			position: relative;
			display: block;
			float: left;
			width: 30%;
			min-height: 1px;

			.header-logo {
				float: left;
				width: 130px;
				height: 100px;
				margin: 20px 0;
			}
		}
		.header-container-sublogos {
			width: 70%;

			.header-sublogos {
				float: right;
				list-style-type: none;
				margin-bottom: 0;

				> li {
					float: left;
					margin: 42px 20px 41px 0;

					&:last-child {
						margin-right: 0;
					}

					a {
						> .header-stichting-logo {
							width: 140px;
							height: 57px;
						}
						> .header-woonfonds-logo {
							width: 200px;
							height: 57px;
						}
						> .header-koopgarantfonds-logo {
							width: 250px;
							height: 57px;
						}
					}
				}
			}
		}
	}

	.header-border {
		height: 5px;
		background-color: rgba(241,141,43,.6);
		margin-left: -15px;
		margin-right: -15px;
	}

	&.header-homepage {
		//min-height: 420px;
		color: $yellow;
		text-align: center;
		text-shadow: 0px 0px 8px rgba(0,0,0,.1);
		background-image: url("../img/vinci-bg.jpg");
		background-position: center top;
		padding-top: 90px;

		.header-homepage-logo {
			display: block;
			width: 220px;
			height: 160px;
			margin: 20px auto 0;
		}
		h1, .h1 {
			display: inline-block;
			color: $yellow;
			font-size: 2.2em;
			font-weight: 400;
			padding-top: 10px;
			margin-bottom: 120px;
		}
	}
}
