.main {
	position: relative;
	background-image: url("../img/vinci-bg.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	padding-bottom: 250px;

	@media (min-width:$screen-md-min) {
		padding-bottom: 400px;
	}
	@media (min-width:$screen-lg-min) {
		padding-bottom: 500px;
	}

	.main-header {
		position: relative;
		background-color: $red-purple;
		@include gradient-horizontal-three-colors($light-purple, $red-purple, 40%, $red);
		padding: 25px 0;

		.main-header-title {
			h1 {
				display: inline-block;
				color: $white;
				margin: 0;
			}
		}
		.main-header-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("../img/vinci-main-header.png");
			background-position: center top;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	.main-container {
		padding-top: 50px;
	}

	.main-border-top {
		display: block;
		width: 100%;
		height: 5px;
		@include gradient-horizontal-three-colors($light-purple, $red-purple, 40%, $red);
		@include opacity(.65);
	}
	.main-border-bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 5px;
		@include gradient-horizontal-three-colors($light-purple, $red-purple, 40%, $red);
		@include opacity(.65);
	}

	&.main-homepage {
		background-image: none;
		padding-bottom: 0px;

		.main-homepage-first {
			position: relative;
			color: $white;
			font-size: 22px;
			font-weight: 300;
			letter-spacing: .4px;
			text-align: center;
			background-color: $yellow;
			@include gradient-horizontal-three-colors($light-purple, $red-purple, 40%, $red);
			padding-top: 30px;
			padding-bottom: 30px;

			p {
				line-height: 1.2em;
				margin: 0;
			}

			.main-homepage-first-bg {
				display: none;
			}
		}
		@media (min-width:$screen-sm-min) {
			.main-homepage-first {
				position: relative;
				color: $white;
				font-size: 28px;
				font-weight: 300;
				letter-spacing: .7px;
				text-align: center;
				background-color: $yellow;
				@include gradient-horizontal-three-colors($light-purple, $red-purple, 40%, $red);
				padding-top: 60px;
				padding-bottom: 60px;

				p {
					line-height: 1.2em;
					margin: 0;
				}

				.main-homepage-first-bg {
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url("../img/vinci-homepage-first-bg.png");
					background-position: center top;
					background-repeat: no-repeat;
					background-size: 100% 100%;
				}
			}
		}

		.main-homepage-second {
			background-color: $white;
			padding-top: 0px;
			padding-bottom: 0px;

			.col-sm-4 {
				padding-bottom: 30px;

				.main-homepage-funds-logo {
					display: block;
					height: 75px;
					margin-bottom: 15px;
					background-image: url("../img/vinci-icons.png");
					background-repeat: no-repeat;
					background-size: 250px 271px;
				}
			}
			.main-homepage-funds-left {
				.main-homepage-funds-logo {
					width: 200px;
					background-position: top left;
				}
			}

			.main-homepage-funds-middle {
				.main-homepage-funds-logo {
					width: 250px;
					background-position: 0px -75px;
				}
			}
			.main-homepage-funds-right {
				.main-homepage-funds-logo {
					width: 250px;
					background-position: 0px -150px;
				}
			}
		}
		@media (min-width:$screen-sm-min) {
			.main-homepage-second {
				padding-top: 40px;
				padding-bottom: 40px;

				.col-sm-4 {
					min-height: 300px;
					padding-bottom: 15px;
				}
			}
		}

		.main-homepage-third {
			background-color: $white;
			padding-bottom: 0px;

			@media (max-width:560px) {
				.col-xs-6 {
					width: 100%;
				}
			}

			.bg-white {
				max-width: 340px;
				height: inherit;
				font-size: inherit;
				letter-spacing: inherit;
				background-color: $white;
				padding: 10px 0;

				h3 {
					margin-top: 0;
				}
				.fa-ul > li > .fa-li {
					color: $yellow;
					transform: translate(0, 3px);
				}
			}
		}
		@media (min-width:560px) {
			.main-homepage-third {
				padding-bottom: 40px;
				
				.col-sm-6 {
					&:nth-child(odd) {
						padding-right: 8px;
					}
					&:nth-child(even) {
						padding-left: 7px;
					}
				}
				.bg-white {
					max-width: none;
					font-size: 13px;
					letter-spacing: .5px;
				}
			}
		}
		@media (min-width:$screen-sm-min) {
			.main-homepage-third {
				background-color: $yellow;
				background-image: url("../img/vinci-bg2.jpg");
				background-position: center bottom;
				background-repeat: no-repeat;
				background-size: cover;
				padding-top: 20px;
				padding-bottom: 20px;

				.col-sm-6 {
					height: 420px;
					padding-left: 0px;
					padding-right: 0px;
				}

				.bg-white {
					font-size: inherit;
					letter-spacing: inherit;
					padding: 10px 15px;

					img {
						max-height: 400px;
						margin: 0 auto;
					}
					h3 {
						margin-top: 0;
					}
					.fa-ul > li > .fa-li {
						color: $yellow;
						transform: translate(0, 3px);
					}
				}
			}
		}
		@media (min-width:$screen-md-min) {
			.main-homepage-third {
				background-color: $yellow;
				background-image: url("../img/vinci-bg2.jpg");
				padding-top: 50px;
				padding-bottom: 50px;

				.col-sm-6 {
					height: 430px;
					padding-left: 15px;
					padding-right: 15px;

					&:nth-child(odd) {
						padding-right: 15px;
					}
					&:nth-child(even) {
						padding-left: 15px;
					}
				}

				.bg-white {
					padding: 15px;

					img {
						margin: 0 auto;
					}
				}
			}
		}
		@media (min-width:$screen-lg-min) {
			.main-homepage-third {
				.col-sm-6 {
					height: 460px;
					padding-left: 25px;
					padding-right: 25px;
				}

				.bg-white {
					padding: 30px;
				}
			}
		}
	}

	&.yellow {
		.main-header {
			background-color: $yellow;
			@include gradient-horizontal-three-colors($orange, $yellow, 20%, $bright-yellow);
		}

		.main-border-top,
		.main-border-bottom {
			@include gradient-horizontal-three-colors($orange, $yellow, 20%, $bright-yellow);
		}
	}

	&.main-persons {
		.main-persons-id {
			margin-bottom: 30px;

			.main-persons-photo {
				position: relative;
				display: block;
				float: left;
				width: 22%;
				text-align: center;
				padding: 0 30px 0 0;
				border-right: 5px solid $light-blue;

				img {
					outline: 5px solid rgba(255,255,255,.5);
	    		outline-offset: -5px;
				}
			}
			.main-persons-text {
				position: relative;
				display: block;
				float: left;
				width: 78%;
				padding: 0 0 0 30px;


				.main-persons-name {
					margin: 0 0 25px 0;
				}
				.main-persons-socmed {
					display: block;
					margin-bottom: 25px;

					a {
						margin: 0 4px;

						.fa {
							font-size: 24px;

							&.fa-mobile-phone {
								font-size: 26px;
								@include translate(0px, 1px);
							}
						}
					}
				}
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
				}

			}
		}
		@media (min-width:$screen-xs-min) {
			.main-persons-id {
				.main-persons-photo {
					width: 22%;
				}
				.main-persons-text {
					width: 78%;
				}
			}
		}
		@media (min-width:$screen-sm-min) {
			.main-persons-id {
				.main-persons-photo {
					width: 34%;
					padding: 0 20px 0 0;
				}
				.main-persons-text {
					width: 66%;
					padding: 0 0 0 20px;

					.main-persons-name {
						font-size: 28px;
						margin: 0;
					}
					.main-persons-socmed {
						margin: 13px 0;
					}
				}
			}
		}
		@media (min-width:$screen-md-min) {
			.main-persons-id {
				.main-persons-photo {
					width: 27%;
					padding: 0 25px 0 0;
				}
				.main-persons-text {
					width: 73%;
					padding: 0 0 0 25px;

					.main-persons-name {
						font-size: 32px;
						margin: 0 0 20px 0;
					}
					.main-persons-socmed {
						margin-bottom: 20px;
					}
				}
			}
		}
		@media (min-width:$screen-lg-min) {
			.main-persons-id {
				.main-persons-photo {
					width: 22%;
					padding: 0 30px 0 0;
				}
				.main-persons-text {
					width: 78%;
					padding: 0 0 0 30px;

					.main-persons-name {
						margin: 0 0 26px 0;
					}
					.main-persons-socmed {
						margin-bottom: 26px;
					}
				}
			}
		}
	}

	&.main-contact {
		.main-contact-gmap {
			#map {
				min-height: 570px;
			}
		}
		.main-contact-title {
			margin-top: 0;
		}
	}
}
