.main {
	position: relative;
	min-height: 62vw;
	background-image: url("../img/vinci-main-bg-xs.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	padding-bottom: 230px;

	@media (min-width:$screen-xs-min) {
		background-image: url("../img/vinci-main-bg-md.jpg");
		padding-bottom: 300px;
	}
	@media (min-width:$screen-sm-min) {
		padding-bottom: 340px;
			background-image: url("../img/vinci-main-bg-lg.jpg");
	}
	@media (min-width:$screen-md-min) {
		padding-bottom: 440px;
	}
	@media (min-width:$screen-lg-min) {
		padding-bottom: 500px;
	}

	.main-header {
		position: relative;
		background-color: $red-purple;
		@include gradient-horizontal-three-colors($light-purple, $red-purple, 40%, $red);
		padding: 25px 0;

		.main-header-title {
			h1 {
				display: inline-block;
				color: $white;
				font-size: 24px;
				margin: 0;

				@media (min-width:$screen-sm-min) {
					font-size: 28px;
				}
				@media (min-width:$screen-md-min) {
					font-size: 32px;
				}
			}
		}

		.main-header-bg {
			display: none;
		}
		@media (min-width:$screen-sm-min) {
			.main-header-bg {
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: url("../img/vinci-main-header.png");
				background-position: right top;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}
	}
	.main-container {
		padding-top: 30px;

		@media (min-width:$screen-sm-min) {
			padding-top: 50px;
		}
	}

	.main-border-top {
		display: block;
		width: 100%;
		height: 5px;
		@include gradient-horizontal-three-colors($light-purple, $red-purple, 40%, $red);
		@include opacity(.65);
	}
	.main-border-bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 5px;
		@include gradient-horizontal-three-colors($light-purple, $red-purple, 40%, $red);
		@include opacity(.65);
	}

	&.main-homepage {
		padding-bottom: 0px;

		@media (max-width:$screen-sm-min) {
			background-image: none;
		}

		.main-homepage-title {
			margin: 0 auto 14px;
			color: $white;
			font-size: 32px;
			letter-spacing: .4px;

			@media (max-width:$screen-xs-min) {
				font-size: 28px;
				letter-spacing: normal;
			}
		}

		.main-homepage-first {
			position: relative;
			text-align: center;
			background-color: $yellow;
			@include gradient-horizontal-three-colors($light-purple, $red-purple, 40%, $red);
			padding-top: 30px;
			padding-bottom: 30px;

			p {
				color: $white;
				font-size: 20px;
				font-weight: 300;
				letter-spacing: .5px;
				line-height: 1.3em;
				margin: 0;

				@media (max-width:$screen-xs-min) {
					letter-spacing: .3px;
				}
			}

			.main-homepage-first-bg {
				display: none;
			}
		}
		@media (min-width:$screen-sm-min) {
			.main-homepage-title {
				margin: 0 auto 14px;
				font-size: 32px;
				letter-spacing: .7px;
			}
			.main-homepage-first {
				position: relative;
				text-align: center;
				background-color: $yellow;
				@include gradient-horizontal-three-colors($light-purple, $red-purple, 40%, $red);
				padding-top: 60px;
				padding-bottom: 60px;

				p {
					font-size: 20px;
					font-weight: 300;
					letter-spacing: .7px;
					line-height: 1.2em;
					margin: 0;
				}

				.main-homepage-first-bg {
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url("../img/vinci-homepage-first-bg.png");
					background-position: center top;
					background-repeat: no-repeat;
					background-size: 100% 100%;
				}
			}
		}
		@media (min-width:$screen-md-min) {
			.main-homepage-title {
				margin: 0 auto 14px;
				font-size: 36px;
			}
			.main-homepage-first {
				p {
					font-size: 24px;
				}
			}
		}

		.main-homepage-second {
			padding-top: 40px;
			padding-bottom: 10px;

			.col-sm-4 {
				padding-bottom: 50px;

				.main-homepage-funds-logo {
					display: block;
					width: 236px;;
					height: 75px;
					margin-bottom: 15px;
				}
			}
		}
		@media (max-width: 559px) {
			.main-homepage-second {
				.main-homepage-funds-left {
					text-align: left;
				}
				.col-xs-6 {
					width: 100%;
				}
			}
		}
		@media (min-width:560px) and (max-width:$screen-xs-max) {
			.main-homepage-second {
				.main-homepage-funds-left {
					text-align: center;
					.main-homepage-funds-logo {
						width: 242px;
						height: 78px;
						margin: 0 auto 15px;
						@include translate(61px, 0);
					}
				}
			}
		}
		@media (min-width:$screen-sm-min) {
			.main-homepage-second {
				padding-top: 40px;
				padding-bottom: 40px;

				.col-sm-4 {
					min-height: 300px;
					padding-bottom: 15px;

					.main-homepage-funds-logo {
						width: 220px;
						height: 70px;
					}
				}
			}
		}
		@media (min-width:$screen-md-min) {
			.main-homepage-second {
				.col-sm-4 {
					min-height: 300px;
					padding-bottom: 15px;

					.main-homepage-funds-logo {
						width: 240px;
						height: 80px;
					}
				}
			}
		}

		.main-homepage-third {
			padding-bottom: 0px;

			.col-xs-6 {
				padding: 15px;
				padding-bottom: 30px;
				background-color: $white;

			}

			@media (max-width:560px) {
				.col-xs-6 {
					width: 100%;
				}
			}

			h3 {
				margin-top: 0;
			}
			.fa-ul > li > .fa-li {
				color: $yellow;
				transform: translate(0, 3px);
			}
		}
		@media (min-width:560px) {
			.main-homepage-third {
				padding-bottom: 40px;
			}
		}
		@media (min-width:$screen-sm-min) {
			.main-homepage-third {
				padding-top: 20px;
				padding-bottom: 20px;

				.col-xs-6 {
					height: 430px;
					padding: 15px;

					img {
						max-height: 400px;
						margin: 0 auto;
					}
					h3 {
						margin-top: 0;
					}
					.fa-ul > li > .fa-li {
						color: $yellow;
						transform: translate(0, 3px);
					}
				}
			}
		}
		@media (min-width:$screen-md-min) {
			.main-homepage-third {
				padding-top: 50px;
				padding-bottom: 50px;

				.col-xs-6 {
					height: 440px;
					padding: 20px;

					img {
						margin: 0 auto;
					}
				}
			}
		}
		@media (min-width:$screen-lg-min) {
			.main-homepage-third {
				padding-top: 60px;
				padding-bottom: 60px;

				.col-xs-6 {
					height: 460px;
					padding: 30px;
				}
			}
		}
	}

	&.yellow {
		.main-header {
			background-color: $yellow;
			@include gradient-horizontal-three-colors($orange, $yellow, 20%, $bright-yellow);
		}

		.main-border-top,
		.main-border-bottom {
			@include gradient-horizontal-three-colors($orange, $yellow, 20%, $bright-yellow);
		}
	}

	&.main-persons {
		.main-persons-id {
			margin-bottom: 30px;

			.main-persons-photo {
				position: relative;
				display: block;
				float: left;
				width: 50%;
				text-align: center;
				padding: 0 0 8px;

				img {
					outline: 5px solid rgba(255,255,255,.5);
	    		outline-offset: -5px;
				}
			}
			.main-persons-title {
				position: relative;
				display: block;
				float: left;
				width: 100%;
				padding-left: 0px;

				.main-persons-name {
					margin: 0 0 12px 0;
				}
				.main-persons-socmed {
					display: block;
					margin-bottom: 8px;

					a {
						margin: 0 8px;

						.fa {
							font-size: 24px;

							&.fa-mobile-phone {
								font-size: 26px;
								@include translate(0px, 1px);
							}
						}
					}
				}
			}
			.main-persons-text {
				position: relative;
				display: block;
				float: left;
				width: 100%;
				padding: 0 0 15px;

				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
				}

			}
		}
		@media (min-width:$screen-xs-min) {
			.main-persons-id {
				.main-persons-photo {
					width: 30%;
					padding: 0 15px 0 0;
					border-right: 5px solid $light-blue;
				}
				.main-persons-title {
					width: 70%;
					padding: 0 0 0 20px;

					.main-persons-socmed {
						display: block;
						margin-bottom: 8px;
					}
				}
				.main-persons-text {
					margin-top: 15px;
				}
			}
		}
		@media (min-width:560px) {
			.main-persons-id {
				.main-persons-text {
					width: 70%;
					padding: 0 0 0 20px;
				}
			}
		}
		@media (min-width:$screen-sm-min) {
			.main-persons-id {
				.main-persons-photo {
					width: 27%;
				}
				.main-persons-title {
					width: 73%;

					.main-persons-name {
						font-size: 28px;
						margin: 0;
					}
					.main-persons-socmed {
						margin: 13px 0;
					}
				}
				.main-persons-text {
					width: 73%;
					padding: 0 0 0 20px;
				}
			}
		}
		@media (min-width:$screen-md-min) {
			.main-persons-id {
				.main-persons-photo {
					width: 27%;
					padding: 0 25px 0 0;
				}
				.main-persons-text {
					width: 73%;
					padding: 0 0 0 25px;

					.main-persons-name {
						font-size: 32px;
						margin: 0 0 20px 0;
					}
					.main-persons-socmed {
						margin-bottom: 20px;
					}
				}
			}
		}
		@media (min-width:$screen-lg-min) {
			.main-persons-id {
				.main-persons-photo {
					width: 22%;
					padding: 0 30px 0 0;
				}
				.main-persons-text {
					width: 78%;
					padding: 0 0 0 30px;

					.main-persons-name {
						margin: 0 0 26px 0;
					}
					.main-persons-socmed {
						margin-bottom: 26px;
					}
				}
			}
		}
	}

	&.main-contact {
		.main-contact-content {
			.main-contact-content--div {
				h3 {
					margin-top: 0;
				}
			}
			@media (max-width:$screen-sm-max) {
				float: left;
				width: 100%;
			}
			@media (max-width:559px) {
				margin-bottom: 20px;
			}

			@media (min-width:560px) and (max-width:$screen-sm-max) {
				.main-contact-content--div {
					float: left;
					width: 50%;
					min-height: 180px;
					padding-right: 15px;

					h3 {
						font-size: 20px;
						letter-spacing: 1px;
					}
					p {
						margin-bottom: 8px;
					}

					@media (min-width:720px) {
						min-height: 170px;
						h3 {
							font-size: 28px;
							letter-spacing: 1.25px;
						}
					}
				}
			}
		}
		.main-contact-gmap {

			#map {
				min-height: 570px;
				margin-bottom: 15px;
				@include box-shadow(0 0 5px rgba($grey-blue, .5));
			}

			@media (max-width:$screen-sm-max) {
				float: left;
				width: 100%;
				//margin-top: 20px;

				#map {
					min-height: 440px;
				}
			}
		}
		.main-contact-title {
			margin-top: 0;
		}
	}
}
