.main {
	background-image: url("../img/vinci-bg.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: contain;
	padding-bottom: 300px;

	.main-header {
		background-color: $yellow;
		@include gradient-horizontal-three-colors($dark-yellow, $yellow, 25%, $yellow);
		border-bottom: 5px solid $light-yellow;

		.main-header-breadcrumb {
			display: block;
			color: rgba(255,255,255,.5);
			font-size: 14px;
			font-weight: 400;
			margin-top: 25px;

			a {
				color: $white;
				text-decoration: none;

				&:hover {
					color: $orange;
					text-decoration: underline;
				}
			}
		}

		h1 {
			display: inline-block;
			color: $white;
			margin: 0 0 -5px;
			padding: 0 0 25px;
			border-bottom: 5px solid $orange;
			box-sizing: border-box;
		}
	}
	.main-container {
		padding-top: 15px;
	}
}
.main-persons {
	.main-persons-id {
		padding: 15px 0px;
		//margin: 0 15px;
		border-bottom: 2px solid #e5e5e5;

		.main-persons-socmed {

		}
		.main-persons-photo {
			position: relative;
			display: block;
			float: left;
			width: 25%;
			text-align: right;

			img {
				outline: 10px solid rgba(231,231,231,.4);
  			outline-offset: -10px;
			}
		}
		.main-persons-text {
			position: relative;
			display: block;
			float: left;
			width: 75%;
			padding: 0 15px;

			.main-persons-name {
				margin: 0;
			}
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
		}
	}
}
