.navbar {
	color: lighten($yellow,7);
	background-color: $white;
	margin-bottom: 0;
	border: 0px solid transparent;
	border-bottom: 5px solid lighten($yellow,7);
	border-radius: 0;

	.navbar-container {
		width: 100%;
		margin: 0 auto;

		.navbar-header {
			display: block;
			float: left;
			width: 100%;
		}
	}

	@media (min-width:$screen-sm-min) {
		.navbar-container {

			.navbar-header {
				float: right;
				width: auto;
			}
		}
	}
	@media (min-width:$screen-md-min) {
		.navbar-container {
			width: $container-md;
		}
	}
	@media (min-width:$screen-lg-min) {
		.navbar-container {
			width: $container-lg;
		}
	}

	.navbar-brand {
		display: none;
		float: left;
	}
	.navbar-buttons {

		.navbar-gmap,
		.navbar-search,
		.navbar-mail,
		.navbar-phone {
			display: block;
			float: right;
			color: $yellow;
			min-width: 60px;
			height: 60px;
			background-color: transparent;
			padding: 18px 18px;

			.fa {
				font-size: 1.75em;
			}

			&:focus, &:active {
				color: darken($red,3);
			}
		}
		.navbar-phone {
			padding: 18px 16px 18px 18px;
		}
		.navbar-gmap {
			padding: 18px 14px 18px 20px;
		}

		.navbar-toggle {
			display: inline-block;
			float: left;
			width: 60px;
			background-color: transparent;
			padding: 16px 18px 15px;
			margin: 0;
			border: 0px solid transparent;
			border-radius: 0;
			@include transition(all .25s ease);

			> .fa-bars:before {
				width: 24px;
				content: '\f0c9';
			}

			&[aria-expanded="true"] {
				background-color: $yellow;
				color: $white;

				> .fa-bars:before {
					width: 24px;
					content: '\f00d';
				}
			}
		}

		@media (min-width:$screen-sm-min) {
			.navbar-search {
				min-width: 50px;
				height: 50px;
				padding: 14px 16px 16px;
				box-shadow: 0 0 1px transparent;
				@include transition-property(color);
				@include transition-duration(.15s);

				&:hover, &[aria-expanded="true"] {
					color: darken($red,3);
					//background-color: transparent;
				}
				.fa {
					font-size: 20px;
					line-height: 20px;
				}
			}

			.open > .navbar-search:before {
				@include scaleY(1);
			}

			.navbar-mail,
			.navbar-gmap,
			.navbar-phone,
			.navbar-toggle {
				display: none;
			}
		}
	}

	.navbar-dropdown-search {
		position: absolute;
		display: none;
    top: 100%;
    left: 0;
		width: 100%;
    margin: 0;
    padding: 0 15px;
		//@include opacity(0);
		background-clip: padding-box;
		background-color: $yellow;
		@include box-shadow(0 4px 12px rgba(0,0,0,.175));
    font-size: 14px;
    list-style: outside none none;
    text-align: left;
    z-index: 1000;

		.no-padding {
			padding: 0;
		}
		.form-group {
			position: relative;
			width: 100%;
			margin: 12px 0;
			padding: 0;
			@include clearfix();
		}
		.btn {
			position: absolute;
			top: 0;
			right: 0;
		}
		@media (min-width:$screen-md-min) {
			.form-inline {
				text-align: center;
			}
			.form-group {
				width: 70%;
				margin: 12px auto;
				@include clearfix();
			}
		}
		input {
			width: 100%;
			height: 42px;
			padding: 6px 15px;
			background-color: $orange;
			border: 0px solid transparent;
			border-radius: 0;
			color: $white;
			font-size: 18px;
			font-weight: 400;
			line-height: 48px;

			&:focus {
				background-color: lighten($orange,6);
			}
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: rgba($white, .7);
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: rgba($white, .7);
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: rgba($white, .7);
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: rgba($white, .7);
		}
	}
	.open > .navbar-dropdown-search {
		display: block;
		//@include opacity(1);
	}

	.navbar-collapse {
		float: left;
		width: 100%;
		border-top: 0px solid transparent;
		@include box-shadow(0 0 0 rgba(0,0,0,.75));
		background-color: $yellow;

		@media (min-width:$screen-sm-min) {
			background-color: transparent;
		}

		.navbar-nav {
			margin-top: 0;
			margin-bottom: 0;
			padding: 0;

			> li {
				padding: 0;
				display: block;

				> a {
					position: relative;
					display: block;
					width: 100%;
					color: $white;
					font-size: 18px;
					font-weight: 400;
					letter-spacing: normal;
					line-height: normal;
					display: inline-block;
					vertical-align: middle;
					background-color: $yellow;
					padding: 15px 60px;
					@include transition-duration(.25s);

					&.is-active {
						background-color: $orange;
					}
					&:focus, &:active {
						background-color: lighten($orange,6);
					}
				}
			}
		}
	}
	@media (min-width:$screen-sm-min) {
		.navbar-collapse {
			width: auto;
			padding: 0;

			.navbar-nav {
				> li {
					padding: 0;

					> a {
						position: relative;
						color: $yellow;
						font-size: 16px;
						font-weight: 400;
						letter-spacing: normal;
						line-height: 20px;
						display: inline-block;
						vertical-align: middle;
						background-color: transparent;
						padding: 15px 10px;
						@include translate3d(0,0,0);
						box-shadow: 0 0 1px transparent;
						@include transition-property(color);
						@include transition-duration(.25s);

						&.is-active {
							color: $red;
						}

						&:before {
							content: "";
							position: absolute;
							z-index: -1;
							height: 5px;
							top: 50px;
							left: 50%;
							right: 50%;
							bottom: 0;
							background-color: transparent;
							@include transform-origin(50% 0);
							@include transition-duration(.25s);
							@include transition-timing-function(ease-out);
						}
						&:hover, &:focus, &.is-active, &:active {
							color: darken($red,3);
						}
						&:hover:before, &:focus:before, &.is-active:before, &:active:before {
							left: 0%;
							right: 0%;
							background-color: darken($red,3);
						}
					}
				}
			}
		}
	}
	@media (min-width:$screen-md-min) {
		.navbar-collapse {
			width: auto;
			padding: 0;

			.navbar-nav {
				> li {
					> a {
						padding: 15px;
					}
				}
			}
		}
	}
}
