.navbar.menneske-nav {
	background-color: $white;
	border-width: 0;
	margin: 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.118);
	@include transition(all .2s ease);

	>.menneske-nav-container {
		padding: 0 75px;

		.menneske-nav-logo {
			width: 433px;
			height: 150px;
			font-size: 0;
			background-image: url("../img/logo/menneske2-logo-header@2x.png");
			background-position: top left;
			background-repeat: no-repeat;
			background-size: 433px 150px;
			margin: 5px 0;
			@include transition(all .2s ease);
		}

		.navbar-menu {
			margin-top: 66px;
			@include transition(all .2s ease);

			.navbar-nav > li {
				padding-right: 30px;
			}
			.navbar-nav > li {
				>a {
					height: 30px;
					color: $purple;
					font-size: 16px;
					font-weight: 400;
					text-transform: lowercase;
					text-decoration: none;
					line-height: 30px !important;
					letter-spacing: .5px;
					background-color: transparent;
					padding: 0;
					margin: 0;

					&:before {
				    content: "";
				    position: absolute;
				    left: 50%;
				    right: 50%;
					  bottom: 0;
				    height: 2px;
					  background-color: #d30505;
				    transition: all 0.25s ease-in-out;
				    z-index: -1;
					}
					&:hover,
					&:active,
					&.is-active {
						color: $red;
		    		transition: color 0.15s ease;

						&:before {
							left: 0;
							right: 0;
						}
					}
				}

				&.menneske-nav-socmed-btn {
					padding-right: 15px;

					>a {
						display: block;
						width: 30px;
						color: $white;
						text-align: center;
						background-color: $purple;
						border-radius: 15px;
						transition: all .15s ease;

						&:before {
					    height: 0px;
						  background-color: transparent;
						}
						&:hover {
							background-color: $red;
						}
					}
				}
			}
		}
	}

	&.affix-top {
		height: 160px;
	}
	&.affix {
		height: 65px;

		>.menneske-nav-container {
			.menneske-nav-logo {
				width: 217px;
				height: 55px;
				background-image: url("../img/logo/menneske2-logo-header-mobile@2x.png");
				background-size: 217px 55px;
			}

			.navbar-menu {
				margin-top: 17px;
			}
		}
	}


}
