.navbar {
	color: $white;
	background-color: $yellow;
	margin-bottom: 0;
	border: 0px solid transparent;
	border-radius: 0;

	.navbar-container {
		width: 100%;
		margin: 0 auto;

		.navbar-header {
			display: block;
			float: left;
			width: 100%;
		}
	}

	@media (min-width:$screen-sm-min) {
		.navbar-container {

			.navbar-header {
				float: right;
				width: auto;
			}
		}
	}
	@media (min-width:$screen-md-min) {
		.navbar-container {
			width: $container-md;
		}
	}
	@media (min-width:$screen-lg-min) {
		.navbar-container {
			width: $container-lg;
		}
	}

	.navbar-brand {
		display: none;
		float: left;
	}
	.navbar-buttons {

		.navbar-gmap,
		.navbar-search,
		.navbar-mail,
		.navbar-phone {
			display: block;
			float: right;
			color: $white;
			min-width: 60px;
			height: 60px;
			background-color: $orange;
			padding: 16px 16px;
			border-left: 1px solid $yellow;
		}
		.navbar-phone {
			padding: 16px 14px 16px 18px;
		}
		.navbar-gmap {
			padding: 16px 12px 16px 20px;
		}

		.navbar-toggle {
			display: inline-block;
			float: left;
			width: 60px;
			background-color: $orange;
			padding: 16px 18px 15px;
			margin: 0;
			border: 0px solid transparent;
			border-radius: 0;
			@include transition(all .25s ease);

			> .fa-bars:before {
				width: 24px;
				content: '\f0c9';
			}

			&[aria-expanded="true"] {
				background-color: #800;

				> .fa-bars:before {
					width: 24px;
					content: '\f00d';
				}
			}
		}

		@media (min-width:$screen-sm-min) {
			.navbar-search {
				min-width: 50px;
				height: 50px;
				padding: 14px 16px 16px;
				background-color: transparent;
				@include perspective(1px);
				@include translate3d(0,0,0);
				box-shadow: 0 0 1px transparent;
				@include transition-property(color);
				@include transition-duration(.25s);

				&.is-active {
					background-color: $orange;
				}

				&:before {
					content: "";
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: $orange;
					@include scaleY(0);
					@include transform-origin(50% 0%);
					@include transition-property(transform);
					@include transition-duration(.25s);
					@include transition-timing-function(ease-out);
				}
				&:hover, &:focus, &.is-active, &:active {
					color: $white;
					background-color: transparent;
				}
				&:hover:before, &:focus:before, &.is-active:before, &:active:before {
					@include scaleY(1);
				}

				.fa-2x {
					font-size: 20px;
					line-height: 20px;
				}
			}
			.navbar-mail,
			.navbar-gmap,
			.navbar-phone,
			.navbar-toggle {
				display: none;
			}
		}
	}

	.navbar-dropdown-search {
		position: absolute;
		display: none;
    float: left;
    top: 100%;
    left: 0;
		width: 100%;
    margin: 0;
    padding: 5px 0;
		@include opacity(0);
		background-clip: padding-box;
		background-color: $orange;
		-webkit-box-shadow: 0 0 15px rgba(0,0,0,.25);
		box-shadow: 0 0 15px rgba(0,0,0,.25);
    font-size: 14px;
    list-style: outside none none;
    text-align: left;
    z-index: 1000;
	}
	.open > .navbar-dropdown-search {
		display: block;
		@include opacity(1);
	}

	.navbar-collapse {
		float: left;
		width: 100%;
		border-top: 0px solid transparent;
		box-shadow: 0 0 0 transparent;

		.navbar-nav {
			margin-top: 0;
			margin-bottom: 0;
			padding: 0;

			> li {
				padding: 0;
				display: block;

				> a {
					position: relative;
					display: block;
					width: 100%;
					color: $white;
					font-size: 18px;
					font-weight: 400;
					letter-spacing: normal;
					line-height: normal;
					display: inline-block;
					vertical-align: middle;
					background-color: transparent;
					padding: 15px 60px;
					@include transition-duration(.25s);

					&.is-active {
						color: $white;
						background-color: $orange;
					}
					&:focus, &:active {
						color: $red;
						background-color: transparent;
					}
				}
			}
		}
	}
	@media (min-width:$screen-sm-min) {
		.navbar-collapse {
			width: auto;
			padding: 0;

			.navbar-nav {
				> li {
					padding: 0;

					> a {
						position: relative;
						color: $white;
						font-size: 16px;
						font-weight: 400;
						letter-spacing: normal;
						line-height: 20px;
						display: inline-block;
						vertical-align: middle;
						background-color: transparent;
						padding: 15px 10px;
						@include perspective(1px);
						@include translate3d(0,0,0);
						box-shadow: 0 0 1px transparent;
						@include transition-property(color);
						@include transition-duration(.25s);

						&.is-active {
							background-color: $orange;
						}

						&:before {
							content: "";
							position: absolute;
							z-index: -1;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background: $orange;
							@include scaleY(0);
							@include transform-origin(50% 0%);
							@include transition-property(transform);
							@include transition-duration(.25s);
							@include transition-timing-function(ease-out);
						}
						&:hover, &:focus, &.is-active, &:active {
							color: $white;
							background-color: transparent;
						}
						&:hover:before, &:focus:before, &.is-active:before, &:active:before {
							@include scaleY(1);
						}
					}
				}
			}
		}
	}
	@media (min-width:$screen-md-min) {
		.navbar-collapse {
			width: auto;
			padding: 0;

			.navbar-nav {
				> li {
					> a {
						padding: 15px;
					}
				}
			}
		}
	}

	/*
	.navbar-search {
		float: right;

		.navbar-form {
			padding: 0;
			margin: 0;
		}
		input.form-control {
			width: 100px;
			color: $white;
			font-size: 16px;
			background-color: $yellow;
			padding: 5px 34px 5px 5px;
			border: 0px solid transparent;
			border-radius: 0;
			@include placeholder($white);
			@include transition(all .2s ease);
		}
		input.form-control:hover,
		input.form-control:focus {
    	width: 200px;
			background-color: $orange;
			@include placeholder(lighten($yellow, 15));
		}
		.navbar-search-icon {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 100;

			.fa {
				font-size: 1em;
				padding: 5px 9px;
				margin: 4px 0;
				border-left: 1px solid $white;
			}
		}
	}

	@media (min-width:$screen-sm-min) {
		.navbar-search {
			float: right;

			input.form-control {
				width: 100px;
				color: $white;
				font-size: 16px;
				background-color: $yellow;
				padding: 5px 34px 5px 5px;
				border: 0px solid transparent;
				border-radius: 0;
				@include placeholder($white);
				@include transition(all .2s ease);
			}
			input.form-control:hover,
			input.form-control:focus {
	    	width: 200px;
				background-color: $orange;
				@include placeholder(lighten($yellow, 15));
			}
			.navbar-search-icon {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 100;

				.fa {
					font-size: 1em;
					padding: 5px 9px;
					margin: 4px 0;
					border-left: 1px solid $white;
				}
			}
		}
	}*/
}
