.menneske-slider {
	height: 420px;
	background-image: url("../img/menneske-wave-2.jpg");
	border-bottom: 6px solid $purple;

	.menneske-slider-slide {
		text-align: center;
		margin-bottom: 0;

		>.menneske-slider-slide-logo {
			margin: 60px auto;
		}
	}

}
