body {
	height: 100%;
	color: $text-color;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.56em;
	letter-spacing: 1.3px;
	background-color: $white;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;

	@media (min-width:$screen-sm-min) {
		font-size: 15px;
		line-height: 1.5em;
		letter-spacing: 1px;
	}
	@media (min-width:$screen-md-min) {
		font-size: 16px;
		line-height: 1.56em;
		letter-spacing: 1.25px;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	color: $title-color;
	font-weight: 400;
}
h1, .h1 {
	font-size: 32px;
}
p {
	margin-bottom: 30px;
	&.no-margin {
		margin-bottom: 0px;
	}
	&.small-margin {
		margin-bottom: 10px;
	}
}
a {
	color: $yellow;
	font-weight: 400;
	@include transition-duration(.2s);

	&:hover {
		color: $red;
		text-decoration: none;
	}
}
ul {
	list-style-type: none;
	padding-left: 20px;
	margin-bottom: 30px;

	li {
		padding: 0;
		margin: 0;
	}

	&.fa-ul {
		margin-left: 20px;

		> li > .fa-li {
			font-size: .93em;
		  left: -20px;
		  width: 20px;
			text-align: left;
		}
	}
}
ol {
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 30px;

	li {
		padding: 0 0 0 20px;
		margin: 0 0 15px;
		border-left: 5px solid darken($white, 7);
	}
}

strong, b {
	font-weight: 500;
}
.text-purple {
	color: $purple;
}
.text-yellow {
	color: $yellow;
}
.text-orange {
	color: $orange;
}
