body {
	height: 100%;
	color: $text-color;
	font-size: 16px;
	font-weight: 300;
	background-color: #fff;
	//background-image: url("../img/vinci-bg.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	color: $title-color;
	font-weight: 400;
}

a {
	color: $yellow;
	font-weight: 400;
	@include transition-duration(.2s);

	&:hover {
		color: $red;
		text-decoration: none;
	}
}
