.menneske-form-required {
	color: $red;
}
.menneske-form-btn {
	width: 100px;
	height: 100px;
	color: $white;
	font-size: 1.2em;
	background-color: $purple;
	margin-right: 15px;
	border: none;
	border-radius: 50%;
	@include transition(all .15s ease);

	&:hover,
	&:focus {
		background-color: $red;
		outline: none;

	}
}
