.column-count-2 {
	-webkit-column-count: 2;
		 -moz-column-count: 2;
					column-count: 2;
	-webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.container-fluid {
	padding: 0px;
}
.container {
}
@media (min-width:$screen-sm-min) and (max-width:$screen-md) {
	.container {
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
	}
}
